{% extends 'base_main.html' %}

{% load static %}

{% block extCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/cart/cart.css' %}">
{% endblock %}

{% block header %}
        <header>
            <div style="color: white;font-size: 23px;
">登录</div>
        </header>
{% endblock %}

{% block content %}
        <div id="cart">

            <form action="#" method="post">
                用户名
                <input type="text" name="user"  placeholder="请输入用户名：">
                密码
                <input type="password" name="password"  placeholder="请输入密码：">
                <input type="submit" value="登陆">
            </form>




        </div>
{% endblock %}